.wrapperContainer{
    display: grid;
    color: #ffffff;
    position: relative;
    width: 100%;
}

.header{
  background-color: #222121;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.home{
  background-color: rgb(139, 133, 133);
  width: 80%;
  min-height: 100vh;
  margin-left: 20%;
  margin-top: 10vh;
}

.homeContent, .perfilContent{
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3b3a3a;
  min-height: 70vh;
}

.content{
    background-color: rgb(139, 133, 133);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.5fr));
    gap: 1rem;
    justify-content: center;
    min-height: 100vh;
    margin-left: 20%;
    margin-top: 10vh;
}


.card{
    margin: 10px;
    background-color: #222121;
    min-height: 250px;
}

.sideBar{
    width: 20%;
    position: fixed;
    background-color: #222121;
    height: 100vh;
    
}

.sideBarAtivo{
  background-color: rgb(27, 27, 27);
}

.sideBar div{
  padding: 10px;
}

.logo{
  font-size: 1.6rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10px;
}

.sideBar ul li{
  list-style: none;
  transition: 0.5s;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
}

.sideBar ul li:hover{
  margin-left: 20px;
  transition: 0.5s;
}

.sideBar ul #sair{
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 20px;
}

.sideBar ul div{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/** Utilities*/
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}

a{
  color: #fff;
}

a:hover{
  text-decoration: none;
  color: #fff;
}

@media (max-width: 970px){
  .wrapperContainer{
    display: grid;
    grid-template-columns:row;
    color: #ffffff;
    position: relative;
    width: 100%;
}
.sideBar{
  visibility: hidden;
}
}